<h3>{{tableHeader}}</h3>
<div class="table-responsive-md">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th *ngFor="let col of columns" scope="col">
          {{col}}
        </th>
      </tr>
      </thead>
    <tr *ngFor="let user of data[tableName]; let i = index">
      <th scope="row">{{user.id | slice:-4}}</th>
      <td>{{user.firstName | titlecase}}</td>
      <td>{{user.lastName | titlecase}}</td>
      <td>{{user.birthDate | date}}</td>
      <td>{{user.age}}</td>
      <td>{{user.emails}}</td>
      <td>
        <button class="btn btn-primary" (click)="transfer(i)">Transfer</button>
      </td>
    </tr>
  </table>
</div>
