<h3>{{tableHeader}}</h3>
<div class="table-responsive-md">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th *ngIf="dataService.deleteMode">Del</th>
        <th *ngIf="dataService.editMode">Edit</th>
        <th *ngFor="let col of columns" scope="col">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody #tbody dragula="COPYABLE">
      <tr *ngFor="let user of dataService[tableName]; let i = index">
        <th *ngIf="dataService.deleteMode">
          <img src="../../../assets/delete.png" alt="delete" (click)="deleteUser(i)">
        </th>
        <th *ngIf="dataService.editMode">
          <img src="../../../assets/edit.png" alt="edit" (click)="editUser(i)">
        </th>
        <th class="shortener" scope="row">{{user.id}}</th>
        <td>{{user.firstName | titlecase}}</td>
        <td>{{user.lastName | titlecase}}</td>
        <td>{{user.birthDate | date}}</td>
        <td>{{user.age}}</td>
        <td><a (click)="loadEmails(i)">Show</a></td>
        <td>
          <button class="btn btn-primary" (click)="transfer(i)">Transfer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isLoading" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
  <div><button class="btn btn-danger" (click)="errorMessage = null">Ok</button></div>
</div>
